Repository masahiro-kubota/e2e_aichallenge_playground: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, deptry-runner, dashboard-eslint, dashboard-prettier

deptry:
  name: deptry (core)
  entry: uv run --directory core deptry .
  language: system
  pass_filenames: false

deptry-runner:
  name: deptry (experiment/runner)
  entry: uv run --directory experiment/runner deptry .
  language: system
  pass_filenames: false

dashboard-eslint:
  name: Dashboard ESLint
  entry: sh -c 'cd dashboard/frontend && npx eslint .'
  language: system
  pass_filenames: false

dashboard-prettier:
  name: Dashboard Prettier
  entry: sh -c 'cd dashboard/frontend && npx prettier --check "src/**/*.{ts,tsx,css}"'
  language: system
  pass_filenames: false

fix
  README.md
Due: none

fix
  README.md
  experiment/runner/README.md
  simulators/core/README.md
Due: deptry-runner

fix
  README.md
  ad_components/core/src/ad_component_core/data/__init__.py
  ad_components/core/src/ad_component_core/interfaces/controller.py
  ad_components/core/src/ad_component_core/interfaces/perception.py
  ad_components/core/src/ad_component_core/interfaces/planner.py
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/ad_component.py
  core/src/core/interfaces/ad_components.py
  experiment/runner/tests/__init__.py
  pyproject.toml
Due: deptry, deptry-runner

fix
  .github/workflows/integration-tests.yml
  .github/workflows/unit-tests.yml
  README.md
Due: none

fix
  core/src/core/data/vehicle/params.py
  core/src/core/interfaces/simulator.py
  experiment/runner/src/experiment_runner/runner.py
  simulators/core/src/simulator_core/base.py
  simulators/core/src/simulator_core/integration.py
  simulators/simulator_dynamic/src/simulator_dynamic/simulator.py
  simulators/simulator_dynamic/src/simulator_dynamic/vehicle.py
  simulators/simulator_dynamic/tests/test_dynamic.py
  simulators/simulator_kinematic/src/simulator_kinematic/simulator.py
Due: deptry, deptry-runner

fix
  .github/workflows/integration-tests.yml
  .github/workflows/pages-deploy.yml
  docs/Makefile
Due: none

fix
  README.md
  scripts/generate_architecture_diagram.py
Due: none

fix
  .github/workflows/integration-tests.yml
  core/tests/test_lanelet_map.py
  dashboard/frontend/src/components/TrajectoryView.tsx
  dashboard/frontend/src/types/index.ts
  dashboard/src/dashboard/injector.py
  dashboard/src/verify_osm.py
  experiment/configs/experiments/overrun.yaml
  experiment/runner/src/experiment_runner/metrics/calculator.py
  experiment/runner/src/experiment_runner/runner.py
  simulators/core/src/simulator_core/base.py
  simulators/simulator_kinematic/tests/test_boundary.py
Due: deptry, deptry-runner, dashboard-eslint, dashboard-prettier

fix
  simulators/core/pyproject.toml
  simulators/core/src/simulator_core/base.py
  simulators/core/tests/test_map_integration.py
  simulators/simulator_dynamic/src/simulator_dynamic/simulator.py
  simulators/simulator_kinematic/src/simulator_kinematic/simulator.py
Due: none

fix
  simulators/core/src/simulator_core/lanelet_map.py
  simulators/core/src/simulator_core/map/__init__.py
  simulators/core/src/simulator_core/simulator.py
  simulators/core/tests/test_lanelet_map.py
Due: none

fix
  core/src/core/data/simulation/log.py
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/simulation/__init__.py
  core/src/core/interfaces/simulation/log.py
  dashboard/tests/dummy_data.py
  experiment/runner/tests/test_training.py
  experiment/training/pyproject.toml
  experiment/training/src/experiment_training/data/dataset.py
  simulators/core/src/simulator_core/__init__.py
  simulators/core/src/simulator_core/log_repository.py
  simulators/core/src/simulator_core/simulator.py
  simulators/core/tests/test_log_repository.py
  uv.lock
Due: deptry, deptry-runner

fix
  core/src/core/__init__.py
  core/src/core/data/__init__.py
  core/src/core/data/environment/__init__.py
  core/src/core/data/environment/scene.py
  core/src/core/data/experiment/config.py
  core/src/core/data/experiment/results.py
  core/src/core/data/simulation/__init__.py
  core/src/core/data/simulator/__init__.py
  core/src/core/data/simulator/config.py
  core/src/core/data/simulator/log.py
  core/src/core/data/simulator/result.py
  core/src/core/data/vehicle/params.py
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/simulation/log.py
  core/src/core/interfaces/vehicle/__init__.py
  experiment/runner/src/experiment_runner/runner.py
  experiment/runner/src/experiment_runner/yaml_vehicle_repository.py
  simulators/core/src/simulator_core/log_repository.py
Due: deptry, deptry-runner

fix
  .importlinter
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  uv.lock
Due: none

fix
  README.md
  ad_components/control/pid_controller/pyproject.toml
  ad_components/control/pid_controller/src/pid_controller/controller.py
  ad_components/control/pid_controller/src/pid_controller/default.param.yaml
  ad_components/planning/pure_pursuit/pyproject.toml
  ad_components/planning/pure_pursuit/src/pure_pursuit/default.param.yaml
  ad_components/planning/pure_pursuit/src/pure_pursuit/planner.py
  core/src/core/data/experiment/results.py
  core/src/core/utils/param_loader.py
  dashboard/src/dashboard/generator.py
  experiment/configs/experiments/pure_pursuit.yaml
  experiment/configs/experiments/pure_pursuit_lookahead_sweep.yaml
  experiment/configs/experiments/pure_pursuit_new_config.yaml
  experiment/configs/modules/pure_pursuit_pid.yaml
  experiment/configs/systems/kart_default_track.yaml
  experiment/runner/src/experiment_runner/__init__.py
  experiment/runner/src/experiment_runner/cli.py
  experiment/runner/src/experiment_runner/config.py
  experiment/runner/src/experiment_runner/loader.py
  experiment/runner/src/experiment_runner/metrics.py
  experiment/runner/src/experiment_runner/runner.py
  experiment/runner/tests/test_config_loader.py
  experiment/runner/tests/test_integration.py
  experiment/runner/tests/test_training.py
  simulators/core/tests/test_map_integration.py
  simulators/simulator_dynamic/pyproject.toml
  simulators/simulator_kinematic/pyproject.toml
  simulators/simulator_kinematic/src/simulator_kinematic/default.param.yaml
  simulators/simulator_kinematic/src/simulator_kinematic/simulator.py
  simulators/simulator_kinematic/tests/test_kinematic.py
  uv.lock
Due: deptry, deptry-runner

fix
  README.md
  experiment/runner/src/experiment_runner/runner.py
Due: deptry-runner

fix
  core/README.md
  core/src/core/adapters/__init__.py
  core/src/core/adapters/controller_adapter.py
  core/src/core/adapters/planner_adapter.py
  core/src/core/adapters/simulator_adapter.py
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/ad_components.py
  core/src/core/interfaces/node_io.py
  core/src/core/interfaces/processor.py
  core/src/core/nodes/__init__.py
  core/src/core/nodes/generic_node.py
  core/src/core/nodes/physics_node.py
  core/src/core/processors/__init__.py
  core/src/core/processors/perception.py
  core/src/core/processors/sensor.py
  core/src/core/validation/__init__.py
  core/src/core/validation/node_graph.py
  experiment/configs/current_experiment.yaml
  experiment/configs/modules/pure_pursuit_pid.yaml
  experiment/configs/systems/kart_default_track.yaml
  experiment/runner/src/experiment_runner/ad_components.py
  experiment/runner/src/experiment_runner/flexible_ad_component.py
  experiment/runner/src/experiment_runner/runner.py
  experiment/runner/tests/test_executor.py
  experiment/runner/tests/test_integration.py
  pyproject.toml
  simulators/simulator_kinematic/src/simulator_kinematic/default.param.yaml
Due: deptry, deptry-runner

fix
  README.md
  ad_components/control/pid_controller/pyproject.toml
  ad_components/control/pid_controller/src/pid_controller/controller.py
  ad_components/core/src/ad_component_core/generic_ad_component.py
  ad_components/core/src/ad_component_core/interfaces/__init__.py
  ad_components/planning/pure_pursuit/pyproject.toml
  ad_components/planning/pure_pursuit/src/pure_pursuit/planner.py
  core/src/core/__init__.py
  core/src/core/adapters/__init__.py
  core/src/core/adapters/controller_adapter.py
  core/src/core/adapters/planner_adapter.py
  core/src/core/adapters/simulator_adapter.py
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/ad_components.py
  core/tests/test_interfaces.py
  experiment/configs/modules/pure_pursuit_pid.yaml
  experiment/runner/src/experiment_runner/flexible_ad_component.py
  experiment/runner/tests/test_executor.py
  uv.lock
Due: deptry, deptry-runner

fix
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/vehicle.py
  experiment/runner/src/experiment_runner/loader.py
  experiment/runner/src/experiment_runner/runner.py
  experiment/runner/src/experiment_runner/yaml_vehicle_repository.py
Due: deptry, deptry-runner

fix
  experiment/runner/pyproject.toml
  experiment/runner/src/experiment_runner/__init__.py
  experiment/runner/src/experiment_runner/loader.py
  experiment/runner/src/experiment_runner/runner.py
  experiment/runner/src/experiment_runner/schemas.py
  experiment/runner/tests/test_config_loader.py
  experiment/runner/tests/test_training.py
  uv.lock
Due: deptry-runner

fix: remove traing code
  .pre-commit-config.yaml
  experiment/training/README.md
  experiment/training/pyproject.toml
  experiment/training/scripts/download_mlflow_data.py
  experiment/training/scripts/generate_function_data.py
  experiment/training/src/experiment_training/__init__.py
  experiment/training/src/experiment_training/data/__init__.py
  experiment/training/src/experiment_training/data/dataset.py
  experiment/training/src/experiment_training/data/function_dataset.py
  experiment/training/src/experiment_training/function_trainer.py
  experiment/training/src/experiment_training/models/__init__.py
  experiment/training/src/experiment_training/trainer.py
  uv.lock
Due: none

fix
  experiment/runner/src/experiment_runner/__init__.py
  experiment/runner/src/experiment_runner/cli.py
  experiment/runner/src/experiment_runner/executor.py
  experiment/runner/src/experiment_runner/interfaces.py
  experiment/runner/src/experiment_runner/orchestrator.py
  experiment/runner/src/experiment_runner/postprocessing/__init__.py
  experiment/runner/src/experiment_runner/postprocessing/evaluation.py
  experiment/runner/src/experiment_runner/postprocessing/mcap_logger.py
  experiment/runner/src/experiment_runner/postprocessing/metrics.py
  experiment/runner/src/experiment_runner/postprocessing/mlflow_logger.py
  experiment/runner/src/experiment_runner/postprocessing/postprocessor_factory.py
  experiment/runner/src/experiment_runner/preprocessing/__init__.py
  experiment/runner/src/experiment_runner/preprocessing/factory.py
  experiment/runner/src/experiment_runner/preprocessing/loader.py
  experiment/runner/src/experiment_runner/preprocessing/schemas.py
  experiment/runner/src/experiment_runner/runner.py
  experiment/runner/src/experiment_runner/running/__init__.py
  experiment/runner/src/experiment_runner/running/evaluation.py
  experiment/runner/src/experiment_runner/running/runner_factory.py
  experiment/runner/tests/test_config_loader.py
  experiment/runner/tests/test_executor.py
  experiment/runner/tests/test_integration.py
  experiment/runner/tests/test_training.py
Due: deptry-runner

fix
  ad_components/control/pid_controller/src/pid_controller/controller.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/planner.py
  experiment/src/experiment_runner/postprocessing/evaluation.py
  experiment/src/experiment_runner/postprocessing/mcap_logger.py
  experiment/src/experiment_runner/postprocessing/mlflow_logger.py
Due: none

fix
  .github/workflows/integration-tests.yml
  simulator/tests/test_dynamics.py
  simulator/tests/test_io.py
  simulator/tests/test_map.py
  simulator/tests/test_simulator.py
  simulator/tests/test_state.py
Due: none

fix
  experiment/src/experiment_runner/postprocessing/evaluation_postprocessor.py
Due: none

fix
  dashboard/frontend/index.html
Due: none

fix
  core/src/core/clock/__init__.py
  core/src/core/clock/stepped.py
  core/src/core/executor/single_process.py
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/clock.py
  experiment/src/experiment_runner/preprocessing/schemas.py
  experiment/src/experiment_runner/runner/evaluation_runner.py
  experiment/tests/test_executor.py
Due: deptry

fix
  core/src/core/clock/__init__.py
  core/src/core/clock/factory.py
  core/src/core/data/frame_data.py
  core/src/core/data/node_io.py
  core/src/core/data/simulation_context.py
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/node.py
  core/src/core/nodes/generic_node.py
  core/src/core/nodes/physics_node.py
  core/src/core/processors/__init__.py
  core/src/core/validation/node_graph.py
  experiment/configs/current_experiment.yaml
  experiment/configs/modules/pure_pursuit_pid.yaml
  experiment/src/experiment_runner/preprocessing/schemas.py
  experiment/src/experiment_runner/processors/__init__.py
  experiment/src/experiment_runner/processors/perception.py
  experiment/src/experiment_runner/processors/sensor.py
  experiment/src/experiment_runner/runner/evaluation_runner.py
  experiment/tests/test_executor.py
Due: deptry

fix
  experiment/pyproject.toml
  uv.lock
Due: none

fix
  ad_components/control/pid_controller/src/pid_controller/pid_controller_node.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/pure_pursuit_node.py
  core/src/core/__init__.py
  core/src/core/executor/single_process.py
  core/src/core/interfaces/__init__.py
  core/src/core/interfaces/log.py
  core/src/core/interfaces/node.py
  core/src/core/interfaces/simulator.py
  core/src/core/nodes/__init__.py
  core/src/core/nodes/physics_node.py
  core/tests/test_interfaces.py
  core/tests/test_node_validation.py
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/processors/sensor.py
  experiment/tests/test_executor.py
  logger/src/logger/logger_node.py
  simulator/pyproject.toml
  simulator/src/simulator/__init__.py
  simulator/src/simulator/io.py
  simulator/src/simulator/simulator.py
  simulator/tests/test_kinematic_simulator.py
  simulator/tests/test_map_integration.py
  simulator/tests/test_simulator.py
  supervisor/src/supervisor/supervisor_node.py
  uv.lock
Due: deptry

fix
  README.md
  ad_components/control/pid_controller/src/pid_controller/pid_controller_node.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/pure_pursuit_node.py
  core/src/core/executor/single_process.py
  core/src/core/interfaces/node.py
  core/src/core/nodes/__init__.py
  core/src/core/utils/node_factory.py
  core/tests/test_node_validation.py
  experiment/configs/current_experiment.yaml
  experiment/configs/experiments/pure_pursuit.yaml
  experiment/configs/experiments/pure_pursuit_lookahead_sweep.yaml
  experiment/configs/systems/kart_default_track.yaml
  experiment/configs/vehicles/dynamic_vehicle.yaml
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/preprocessing/schemas.py
  experiment/src/experiment/processors/sensor.py
  experiment/src/experiment/runner/evaluation_runner.py
  experiment/tests/test_refactor.py
  logger/src/logger/logger_node.py
  simulator/src/simulator/simulator.py
  simulator/tests/test_simulator.py
  supervisor/src/supervisor/__init__.py
  supervisor/src/supervisor/supervisor_node.py
Due: deptry

fix
  experiment/tests/test_node_config_loading.py
Due: none

fix
  experiment/configs/modules/default_module.yaml
  experiment/configs/systems/default_systems.yaml
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/preprocessing/schemas.py
  experiment/src/experiment/runner/evaluation_runner.py
  experiment/tests/test_integration.py
Due: none

fix
  experiment/configs/experiments/default_experiment.yaml
  experiment/configs/modules/default_module.yaml
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
  experiment/src/experiment/preprocessing/loader.py
  experiment/tests/test_system_references.py
Due: none

fix
  core/src/core/utils/node_factory.py
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/preprocessing/schemas.py
  supervisor/src/supervisor/supervisor_node.py
Due: deptry

Path conditions:
  deptry: any of: ^core/
  deptry-runner: any of: ^experiment/runner/
  dashboard-eslint: any of: ^dashboard/frontend/src/.*\.(ts|tsx)$
  dashboard-prettier: any of: ^dashboard/frontend/src/.*\.(ts|tsx|css)$
