Repository masahiro-kubota/e2e_aichallenge_playground: changes, and which pre-commit hooks are due for each by the changed paths.
All: deptry, deptry-runner, dashboard-eslint, dashboard-prettier

.pre-commit-config.yaml:

repos:
  # Standard file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=5000']

  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --config=pyproject.toml]
      - id: ruff-format

  # Dependency checker
  - repo: local
    hooks:
      - id: deptry
        name: deptry (core)
        entry: uv run --directory core deptry .
        language: system
        pass_filenames: false
        files: ^core/
      - id: deptry-runner
        name: deptry (experiment/runner)
        entry: uv run --directory experiment/runner deptry .
        language: system
        pass_filenames: false
        files: ^experiment/runner/

  # React Dashboard linter and formatter
  - repo: local
    hooks:
      - id: dashboard-eslint
        name: Dashboard ESLint
        entry: sh -c 'cd dashboard/frontend && npx eslint .'
        language: system
        pass_filenames: false
        files: ^dashboard/frontend/src/.*\.(ts|tsx)$
      - id: dashboard-prettier
        name: Dashboard Prettier
        entry: sh -c 'cd dashboard/frontend && npx prettier --check "src/**/*.{ts,tsx,css}"'
        language: system
        pass_filenames: false
        files: ^dashboard/frontend/src/.*\.(ts|tsx|css)$

fix
  README.md
  ad_components/control/pid_controller/pyproject.toml
  ad_components/control/pid_controller/src/pid_controller/pid_controller_node.py
  ad_components/planning/pure_pursuit/pyproject.toml
  ad_components/planning/pure_pursuit/src/pure_pursuit/pure_pursuit_node.py
  core/src/core/utils/node_factory.py
  dashboard/src/dashboard/injector.py
  experiment/configs/modules/default_module.yaml
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/preprocessing/schemas.py
  experiment/tests/test_integration.py
  logger/pyproject.toml
  simulator/pyproject.toml
  simulator/src/simulator/simulator.py
  supervisor/pyproject.toml
Due: deptry

fix
  README.md
  core/src/core/__init__.py
  core/src/core/data/__init__.py
  core/src/core/data/experiment/__init__.py
  core/src/core/data/experiment/config.py
  core/src/core/data/experiment/results.py
  core/src/core/data/simulator/__init__.py
  core/src/core/data/simulator/config.py
  core/src/core/interfaces/dashboard.py
  core/src/core/interfaces/experiment.py
  dashboard/pyproject.toml
  dashboard/src/dashboard/generator.py
  experiment/src/experiment/__init__.py
  experiment/src/experiment/interfaces.py
  experiment/src/experiment/orchestrator.py
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
  experiment/src/experiment/postprocessing/mlflow_logger.py
  experiment/src/experiment/postprocessing/postprocessor_factory.py
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/preprocessing/schemas.py
  experiment/src/experiment/runner/evaluation_runner.py
  experiment/src/experiment/structures.py
  experiment/tests/test_system_references.py
  logger/src/logger/logger_node.py
  logger/src/logger/mcap_logger.py
  pyproject.toml
  uv.lock
Due: deptry

fix
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
  experiment/src/experiment/preprocessing/loader.py
  logger/src/logger/logger_node.py
  logger/src/logger/mcap_logger.py
Due: none

fix
  core/pyproject.toml
  core/src/core/utils/__init__.py
  core/src/core/utils/osm_parser.py
  dashboard/src/dashboard/injector.py
  experiment/configs/modules/default_module.yaml
  experiment/pyproject.toml
  experiment/src/experiment/cli_obstacle_editor.py
  experiment/tools/README.md
  experiment/tools/frontend/.gitignore
  experiment/tools/frontend/README.md
  experiment/tools/frontend/eslint.config.js
  experiment/tools/frontend/index.html
  experiment/tools/frontend/package-lock.json
  experiment/tools/frontend/package.json
  experiment/tools/frontend/public/vite.svg
  experiment/tools/frontend/src/App.tsx
  experiment/tools/frontend/src/api.ts
  experiment/tools/frontend/src/assets/react.svg
  experiment/tools/frontend/src/main.tsx
  experiment/tools/frontend/src/types.ts
  experiment/tools/frontend/tsconfig.app.json
  experiment/tools/frontend/tsconfig.json
  experiment/tools/frontend/tsconfig.node.json
  experiment/tools/frontend/vite.config.ts
  experiment/tools/obstacle_editor_server.py
  experiment/tools/start_editor.sh
  simulator/src/simulator/map.py
  simulator/tests/test_map.py
  uv.lock
Due: deptry

fix
  .gitignore
  ad_components/planning/pure_pursuit/pyproject.toml
  ad_components/planning/pure_pursuit/src/pure_pursuit/pure_pursuit_node.py
  core/src/core/data/__init__.py
  core/src/core/data/environment/__init__.py
  core/src/core/data/environment/obstacle.py
  core/src/core/validation/node_graph.py
  experiment/configs/modules/default_module.yaml
  experiment/configs/modules/raceline_awsim_15km.csv
  experiment/configs/vehicles/default_vehicle.yaml
  experiment/pyproject.toml
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
  experiment/tests/test_integration.py
  logger/src/logger/logger_node.py
  logger/src/logger/mcap_logger.py
  simulator/src/simulator/obstacle.py
  simulator/src/simulator/simulator.py
  uv.lock
Due: deptry

fix
  dashboard/frontend/src/components/TrajectoryView.tsx
  dashboard/frontend/src/store/simulationStore.ts
  dashboard/frontend/src/types/index.ts
  dashboard/src/dashboard/generator.py
  experiment/configs/experiments/default_experiment.yaml
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
Due: dashboard-eslint, dashboard-prettier

fix
  ad_components/control/pid_controller/src/pid_controller/pid_controller_node.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/pure_pursuit_node.py
  core/src/core/data/__init__.py
  core/src/core/data/experiment/config.py
  core/src/core/data/node.py
  core/src/core/data/sensor.py
  core/src/core/data/vehicle/params.py
  core/src/core/interfaces/node.py
  core/tests/test_node_validation.py
  dashboard/frontend/src/components/TrajectoryView.tsx
  dashboard/frontend/src/types/index.ts
  dashboard/src/dashboard/generator.py
  experiment/configs/vehicles/default_vehicle.yaml
  experiment/src/experiment/orchestrator.py
  experiment/src/experiment/preprocessing/loader.py
  experiment/src/experiment/processors/sensor.py
  experiment/tests/test_node_config_loading.py
  logger/src/logger/logger_node.py
  logger/src/logger/mcap_logger.py
  simulator/src/simulator/sensor.py
  simulator/src/simulator/simulator.py
  simulator/tests/test_sensor.py
  supervisor/src/supervisor/supervisor_node.py
Due: deptry, dashboard-eslint, dashboard-prettier

fix
  .gitignore
  core/src/core/data/ros.py
  experiment/configs/modules/default_module.yaml
  experiment/configs/vehicles/default_vehicle.yaml
  experiment/tests/test_integration.py
  logger/src/logger/logger_node.py
  logger/src/logger/mcap_logger.py
Due: deptry

fix
  ad_components/control/tiny_lidar_net/ckpt/tinylidarnet_weights.npy
  ad_components/control/tiny_lidar_net/pyproject.toml
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/__init__.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/config.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/core.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/model/__init__.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/model/numpy/__init__.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/model/numpy/initializers.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/model/numpy/layers.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/model/tinylidarnet.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/node.py
  ad_components/control/tiny_lidar_net/tests/__init__.py
  ad_components/control/tiny_lidar_net/tests/test_tiny_lidar_net_node.py
  core/src/core/validation/node_graph.py
  experiment/configs/experiments/tiny_lidar_net_experiment.yaml
  experiment/configs/modules/tiny_lidar_net_module.yaml
  experiment/configs/systems/tiny_lidar_net_module_systems.yaml
  experiment/configs/vehicles/default_vehicle.yaml
  pyproject.toml
  simulator/benchmarks/__init__.py
  simulator/benchmarks/benchmark_lidar.py
  simulator/pyproject.toml
  simulator/src/simulator/sensor.py
  uv.lock
Due: deptry

fix
  .gitignore
  ad_components/control/tiny_lidar_net/README.md
  ad_components/control/tiny_lidar_net/scripts/convert_weight.py
  ad_components/control/tiny_lidar_net/scripts/extract_data_from_mcap.py
  ad_components/control/tiny_lidar_net/scripts/inspect_mcap.py
  ad_components/control/tiny_lidar_net/scripts/lib/__init__.py
  ad_components/control/tiny_lidar_net/scripts/lib/data.py
  ad_components/control/tiny_lidar_net/scripts/lib/loss.py
  ad_components/control/tiny_lidar_net/scripts/lib/model.py
  ad_components/control/tiny_lidar_net/scripts/train.py
  checkpoints/best_model.pth
  checkpoints/last_model.pth
  experiment/configs/modules/tiny_lidar_net_module.yaml
  pyproject.toml
  uv.lock
Due: none

fix
  core/src/core/data/simulator/log.py
Due: deptry

fix
  README.md
  ad_components/control/tiny_lidar_net/scripts/extract_data_from_mcap.py
  experiment/conf/agent/pure_pursuit.yaml
  experiment/conf/agent/tiny_lidar.yaml
  experiment/conf/collect_data.yaml
  experiment/conf/config.yaml
  experiment/conf/env/default.yaml
  experiment/conf/train_tinylidar.yaml
  experiment/conf/vehicle/default.yaml
  models/tinylidarnet_v2.npy
  pyproject.toml
  scripts/collect_data.py
  scripts/convert_model.py
  scripts/lib/__init__.py
  scripts/lib/data.py
  scripts/lib/lib/__init__.py
  scripts/lib/lib/data.py
  scripts/lib/lib/loss.py
  scripts/lib/lib/model.py
  scripts/lib/loss.py
  scripts/lib/model.py
  scripts/train.py
  uv.lock
Due: none

fix
  .github/workflows/profile.yml
  README.md
  experiment/src/experiment/postprocessing/evaluation_postprocessor.py
  profile.speedscope.json
  profile_dashboard.html
  profile_dashboard_template.html
  profile_data.json
  profile_summary.txt
  scripts/profile_experiment.py
  simulator/src/simulator/sensor.py
Due: none

fix
  README.md
  profile.speedscope.json
  scripts/profile_experiment.py
Due: none

fix
  .gitignore
  README.md
  profile.speedscope.json
Due: none

fix
  .agent/workflows/profile.md
Due: none

fix
  .env.example
  .gitignore
  README.md
  experiment/conf/experiment/extraction.yaml
  experiment/pyproject.toml
  experiment/src/experiment/cli.py
  experiment/src/experiment/engine/base.py
  experiment/src/experiment/engine/evaluator.py
  experiment/src/experiment/engine/extractor.py
  experiment/tests/test_integration.py
  experiment/tests/test_vehicle_params_logging.py
  uv.lock
Due: none

fix
  README.md
  experiment/conf/env/default.yaml
  experiment/conf/experiment/base.yaml
  experiment/conf/experiment/data_collection.yaml
  experiment/conf/experiment/evaluation.yaml
  experiment/conf/experiment/profile.yaml
  experiment/src/experiment/engine/evaluator.py
  experiment/tests/test_integration.py
  logger/src/logger/logger_node.py
  logger/src/logger/visualization/__init__.py
  logger/src/logger/visualization/path_visualizer.py
Due: none

fix
  .github/workflows/integration-tests.yml
  .github/workflows/pages-deploy.yml
  experiment/conf/experiment/extraction.yaml
  experiment/conf/experiment/training.yaml
Due: none

fix
  README.md
  experiment/conf/agent/pure_pursuit.yaml
  experiment/conf/agent/tiny_lidar.yaml
  experiment/conf/experiment/base.yaml
  experiment/conf/experiment/data_collection.yaml
  experiment/conf/experiment/evaluation.yaml
  experiment/conf/experiment/profile.yaml
  experiment/src/experiment/engine/collector.py
  experiment/tests/test_integration.py
  experiment/tests/test_vehicle_params_logging.py
  latest_output
Due: none

fix
  README.md
  core/src/core/data/experiment/config.py
  experiment/conf/experiment/profile.yaml
Due: deptry

mpc
  README.md
  ad_components/planning/mpc_planner/pyproject.toml
  ad_components/planning/mpc_planner/src/mpc_planner/__init__.py
  ad_components/planning/mpc_planner/src/mpc_planner/collision_checker.py
  ad_components/planning/mpc_planner/src/mpc_planner/mpc_planner_node.py
  ad_components/planning/mpc_planner/src/mpc_planner/vehicle_model.py
  docs/planner/mpc/README.md
  docs/planner/mpc/collision_avoidance_options.md
  experiment/conf/agent/mpc.yaml
  experiment/conf/env/clean.yaml
  experiment/conf/env/randomized2.yaml
  experiment/conf/experiment/data_collection.yaml
  experiment/conf/experiment/profile.yaml
  experiment/tests/test_integration.py
  pyproject.toml
  uv.lock
Due: none

fix
  docs/performance_optimization_plan.md
Due: none

fix
  ad_components/control/pure_pursuit_controller/pyproject.toml
  ad_components/control/pure_pursuit_controller/src/pure_pursuit_controller/__init__.py
  ad_components/control/pure_pursuit_controller/src/pure_pursuit_controller/pure_pursuit_controller_node.py
  ad_components/planning/centerline_planner/pyproject.toml
  ad_components/planning/centerline_planner/src/centerline_planner/__init__.py
  ad_components/planning/centerline_planner/src/centerline_planner/centerline_planner_node.py
  ad_components/planning/mppi_planner/README.md
  ad_components/planning/mppi_planner/pyproject.toml
  ad_components/planning/mppi_planner/src/mppi_planner/__init__.py
  ad_components/planning/mppi_planner/src/mppi_planner/mppi.py
  ad_components/planning/mppi_planner/src/mppi_planner/mppi_planner_node.py
  ad_components/planning/mppi_planner/tests/test_mppi.py
  ad_components/planning/planning_utils/src/planning_utils/visualization.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/pure_pursuit_node.py
  core/src/core/data/experiment/results.py
  experiment/conf/agent/centerline_pure_pursuit.yaml
  experiment/conf/agent/mppi.yaml
  experiment/conf/env/default.yaml
  experiment/conf/env/randomized.yaml
  experiment/src/experiment/cli.py
  experiment/src/experiment/engine/evaluator.py
  experiment/tests/test_integration.py
  logger/src/logger/logger_node.py
  pyproject.toml
  supervisor/src/supervisor/supervisor_node.py
  uv.lock
Due: deptry

fix
  ad_components/control/mppi_controller/README.md
  ad_components/control/mppi_controller/pyproject.toml
  ad_components/control/mppi_controller/src/mppi_controller/__init__.py
  ad_components/control/mppi_controller/src/mppi_controller/mppi.py
  ad_components/control/mppi_controller/src/mppi_controller/mppi_controller_node.py
  ad_components/control/mppi_controller/tests/test_mppi.py
  core/src/core/data/ad_components/state.py
  core/src/core/data/simulator/log.py
  core/tests/test_data.py
  dashboard/src/dashboard/generator.py
  experiment/conf/agent/mppi.yaml
  logger/src/logger/logger_node.py
Due: deptry

fix
  ad_components/control/mppi_controller/src/mppi_controller/mppi.py
  ad_components/control/mppi_controller/src/mppi_controller/mppi_controller_node.py
  ad_components/control/pure_pursuit_controller/src/pure_pursuit_controller/pure_pursuit_controller_node.py
  ad_components/planning/mppi_planner/src/mppi_planner/mppi.py
  ad_components/planning/mppi_planner/src/mppi_planner/mppi_planner_node.py
  ad_components/planning/planning_utils/src/planning_utils/visualization.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/pure_pursuit_node.py
  core/src/core/data/ros.py
  core/tests/test_ros.py
  experiment/conf/agent/centerline_pure_pursuit.yaml
  experiment/conf/agent/mppi.yaml
  experiment/conf/agent/pure_pursuit.yaml
  experiment/conf/env/default.yaml
  experiment/conf/experiment/base.yaml
  experiment/src/experiment/engine/evaluator.py
  logger/src/logger/logger_node.py
  logger/src/logger/visualization/map_visualizer.py
  logger/src/logger/visualization/obstacle_visualizer.py
  logger/src/logger/visualization/path_visualizer.py
  logger/src/logger/visualization/trajectory_visualizer.py
  logger/src/logger/visualization/vehicle_visualizer.py
Due: deptry

fix
  core/src/core/clock/factory.py
  core/src/core/data/environment/scene.py
  core/src/core/data/node_io.py
  core/src/core/data/ros.py
  core/src/core/data/vehicle/params.py
  core/src/core/executor/single_process.py
  core/src/core/interfaces/clock.py
  core/src/core/interfaces/node.py
  dashboard/src/dashboard/generator.py
  simulator/src/simulator/simulator.py
Due: deptry

fix
  ad_components/control/pid_controller/tests/test_pid_controller_node.py
  ad_components/perception/ideal_sensor/tests/test_ideal_sensor_node.py
  ad_components/planning/pure_pursuit/tests/test_pure_pursuit_node.py
  experiment/tests/test_integration.py
  logger/src/logger/logger_node.py
Due: none

fix
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/node.py
  ad_components/control/tiny_lidar_net/tests/test_tiny_lidar_net_node.py
  core/src/core/validation/node_graph.py
  dashboard/src/dashboard/reader.py
Due: deptry

fix
  ad_components/perception/ideal_sensor/src/ideal_sensor/sensor_node.py
  simulator/src/simulator/simulator.py
Due: none

fix
  experiment/conf/ad_components/centerline_pure_pursuit.yaml
  experiment/conf/ad_components/mppi.yaml
  experiment/conf/ad_components/pure_pursuit.yaml
  experiment/conf/ad_components/tiny_lidar.yaml
  experiment/conf/config.yaml
  experiment/conf/env/default.yaml
  experiment/conf/experiment/base.yaml
  experiment/conf/experiment/evaluation.yaml
  experiment/src/experiment/core/config.py
  experiment/src/experiment/engine/collector.py
  experiment/tests/test_integration.py
Due: none

fix
  README.md
  docker-compose.yml
  docker/mcap_server/Dockerfile
  docker/mcap_server/mcap_server.py
  experiment/src/experiment/engine/evaluator.py
  experiment/tools/generate_architecture_diagram.py
Due: none

fix
  ad_components/planning/static_avoidance_planner/pyproject.toml
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/__init__.py
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/avoidance_planner.py
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/avoidance_planner_node.py
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/frenet_converter.py
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/map_utils.py
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/obstacle_manager.py
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/shift_profile.py
  ad_components/planning/static_avoidance_planner/tests/test_avoidance_planner.py
  ad_components/planning/static_avoidance_planner/tests/test_avoidance_planner_node.py
  ad_components/planning/static_avoidance_planner/tests/test_frenet_converter.py
  ad_components/planning/static_avoidance_planner/tests/test_obstacle_manager.py
  ad_components/planning/static_avoidance_planner/tests/test_shift_profile.py
  core/src/core/data/experiment/config.py
  executor.md
  experiment/conf/ad_components/static_avoidance.yaml
  experiment/conf/config.yaml
  experiment/conf/experiment/base.yaml
  experiment/src/experiment/core/config.py
  experiment/src/experiment/engine/evaluator.py
  mlflow/README.md
  planning.md
  pyproject.toml
  run_log.txt
  simulation.log
  uv.lock
Due: deptry

fix
  ad_components/control/pure_pursuit_controller/src/pure_pursuit_controller/pure_pursuit_controller_node.py
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/avoidance_planner.py
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/avoidance_planner_node.py
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/obstacle_manager.py
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/shift_profile.py
  core/src/core/executor/single_process.py
  experiment/conf/ad_components/centerline_pure_pursuit.yaml
  experiment/conf/ad_components/static_avoidance.yaml
  experiment/src/experiment/engine/evaluator.py
  run_log.txt
  simulation.log
  test_config_loading.py
Due: deptry

fix
  README.md
  ad_components/planning/lateral_shift_planner/README.md
  ad_components/planning/lateral_shift_planner/pyproject.toml
  ad_components/planning/lateral_shift_planner/src/lateral_shift_planner/__init__.py
  ad_components/planning/lateral_shift_planner/src/lateral_shift_planner/frenet_converter.py
  ad_components/planning/lateral_shift_planner/src/lateral_shift_planner/lateral_shift_planner.py
  ad_components/planning/lateral_shift_planner/src/lateral_shift_planner/lateral_shift_planner_node.py
  ad_components/planning/lateral_shift_planner/src/lateral_shift_planner/map_utils.py
  ad_components/planning/lateral_shift_planner/src/lateral_shift_planner/obstacle_manager.py
  ad_components/planning/lateral_shift_planner/src/lateral_shift_planner/shift_profile.py
  ad_components/planning/lateral_shift_planner/tests/test_avoidance_planner.py
  ad_components/planning/lateral_shift_planner/tests/test_avoidance_planner_node.py
  ad_components/planning/lateral_shift_planner/tests/test_frenet_converter.py
  ad_components/planning/lateral_shift_planner/tests/test_obstacle_manager.py
  ad_components/planning/lateral_shift_planner/tests/test_shift_profile.py
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/__init__.py
  ad_components/planning/static_avoidance_planner/src/static_avoidance_planner/map_utils.py
  experiment/conf/ad_components/lateral_shift.yaml
  pyproject.toml
  run_log.txt
  uv.lock
Due: none

fix
  ad_components/planning/lateral_shift_planner/src/lateral_shift_planner/lateral_shift_planner_node.py
  ad_components/planning/lateral_shift_planner/src/lateral_shift_planner/obstacle_manager.py
  experiment/assets/lanelet2_map_nopit.osm
Due: none

fix
  experiment/conf/experiment/base.yaml
  experiment/src/experiment/engine/collector.py
  experiment/src/experiment/engine/evaluator.py
  experiment/tests/configs/pure_pursuit_test.yaml
  experiment/tests/test_node_config_loading.py
  logger/src/logger/logger_node.py
  simulator/README.md
  simulator/pyproject.toml
  simulator/src/simulator/__init__.py
  simulator/src/simulator/simulator.py
  simulator/tests/test_simulator.py
Due: none

fix
  ad_components/control/pid_controller/src/pid_controller/pid_controller_node.py
  ad_components/control/pure_pursuit_controller/src/pure_pursuit_controller/pure_pursuit_controller_node.py
  ad_components/control/tiny_lidar_net/src/tiny_lidar_net/node.py
  ad_components/perception/ideal_sensor/src/ideal_sensor/sensor_node.py
  ad_components/planning/centerline_planner/src/centerline_planner/centerline_planner_node.py
  ad_components/planning/lateral_shift_planner/src/lateral_shift_planner/lateral_shift_planner_node.py
  ad_components/planning/mppi_planner/src/mppi_planner/mppi_planner_node.py
  ad_components/planning/pure_pursuit/src/pure_pursuit/pure_pursuit_node.py
  core/src/core/executor/single_process.py
  core/src/core/interfaces/node.py
  core/src/core/utils/logging.py
  experiment/conf/config.yaml
  logger/src/logger/logger_node.py
Due: deptry
